body{
    margin: 0;
}

/*header start*/
.header, .footer{
    padding: 0 250px;
}

.first-content, .second-content, .third-content, .fourth-content{
    padding: 100px 250px;
}

.header{
    background: #1f2937; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header_text{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}
/*header end*/

/*first content start*/
.first-content{
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    flex-wrap: wrap;
}

.first_content_left{
    color: #f9faf8;
}

/*left first text*/
.text_1{
    width: 360px;
    font-size: 48px;
    font-weight: 800;
}

/*left second text*/
.text_2{
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.first_content_left button{
    background-color: #3882f6;
    padding: 5px 30px;
    border-radius: 10px;
    color: #e5e7eb;
    cursor: pointer;
    border: none;
    margin: 10px 0;
    font-weight: bold;
}

.image-holder{
    display: flex;
    padding: 60px 150px;
    background-color: grey;
    align-items: center;
    color: #e5e7eb;
}
/*first content end*/

/*second content start*/
.second_content_header{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 60px;
    margin-top: -40px;
}

.boxes{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.big-box{
    display: flex;
    flex-direction: column;
}

.box{
    height: 60px;
    width: 60px;
    padding: 50px;
    border:4px solid #3882f6;
    display: flex;
    border-radius: 25px;
    margin-bottom: 10px;
}

.box-text{
    text-align: center;
    font-size: 18px;
    width: 160px;
    color: #80868d;
}
/*second content end*/

/*third content start*/
.third-content{
    display: flex;
    background: #e5e7eb;
    justify-content: center;
}

.third_content_text{
    width: 820px;
}

p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #33373d;
}

.third_content_bottom_text{
    text-align: right;
    font-weight: bold;
}
/*third content end*/

/*fourth content start*/
.small_box{
    display: flex;
    background: #3882f6;
    color: #f9faf8;
    justify-content: space-around;
    padding: 50px;
    border-radius: 8px;
}

.fourth_content_left_top{
    font-weight: bold;
    font-size: large;
}

.small_box button{
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    margin: 10px 0;
    color: #e5e7eb;
    font-weight: bold;
}

/*fourth content end*/

/*footer start*/
.footer{
    background: #1f2937;
}

.footer div{
    padding: 30px;
    text-align: center;
    color: #e5e7eb;
}
/*footer end*/

*{
    font-family: Arial, Helvetica, sans-serif;
}