body{
    margin: 0;
}

/*header start*/
.header, .footer{
    padding: 0 250px;
}

.first-content, .second-content, .third-content, .fourth-content{
    padding: 100px 250px;
}

.header{
    background: #1f2937; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header_text{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}
/*header end*/

/*first content start*/
.first-content{
    display: flex;
    justify-content: space-between;
    background: #1f2937
}

.left_side_content{
    color: #f9faf8;
}

/*left first text*/
.text_1{
    width: 360px;
    font-size: 48px;
    font-weight: bold;
}

/*left second text*/
.text_2{
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.image-holder{
    display: flex;
    padding: 60px 150px;
    background-color: grey;
    align-items: center;
    color: #e5e7eb;
}
/*first content end*/

/*second content start*/
.second_content_header{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 60px;
    margin-top: -40px;
}

.boxes{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.big-box{
    display: flex;
    flex-direction: column;
}

.box{
    height: 60px;
    width: 60px;
    padding: 50px;
    border:4px solid #3882f6;
    display: flex;
    border-radius: 25px;
}

.box-text{
    text-align: center;
    font-size: 18px;
    width: 160px;
}




/*second content end*/













/*draft start*/


/*draft end*/
